/* 
font-family: 
...consolas
...MS UI Gothic
..Bahnschrift
..Bahnschrift Light
..Trebuchet MS
DaunPenh
.Ink Free 
.Microsoft Sans Serif   
.Microsoft PhagsPa 

.Palatino Linotype

.Segoe UI
*/

body {
    background-color: rgb(26 28 27);
    margin: 10px 10px;
    overflow-x: hidden;
}

.same {
    /* min-height: 80px; */
    background-color: rgb(36 41 38);
    font-size: 24px;
    height: fit-content;
    text-align: center;
    /* color: #68E468; */
    color: #7e8b7e;
    margin: 0 auto;
    box-sizing: border-box;
}

div#language_title {
    width: 90%;
    min-width: 300px;
    min-height: fit-content;
    height: fit-content;
    border-radius: 100px;
    background-color: rgb(29 38 35);
    font-size: 36px;
    font-family: Bahnschrift;
}

div.indent {
    width: 100%;
    height: 50px;
}

div#language_text {
    width: 90%;
    min-width: 300px;
    min-height: max-content;
    /* height: max-content; */
    font-family: MS UI Gothic;
    font-family: Arial, Helvetica, sans-serif;
    font-family: proxima, Arial, Tahoma, Verdana, sans-serif;
    font-family: Bahnschrift;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
    padding: 1px 4%;
    /* box-sizing: border-box; */
    border-radius: 30px;
}

p#correct>font {
    transition: 0.1s ease;
}

div#text_type {
    max-width: 0;
    opacity: 0;
    position: absolute;
    top: 40%;
    right: 35%;
    /* width: 90%; */
    max-width: 1px;
    /* border-radius: 40px; */
    /* height: 20px; */
}

input#text_input {
    opacity: inherit;
    width: 80%;
    max-height: 10px;
    outline: none;
    border: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: Consolas; */
    font-family: Bahnschrift;
}

div#trust {
    /* display: block; */
    position: relative;
    /* right: 0; */
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    transition: 0.2s ease-in-out;
}

div#trust:hover {
    scale: 1.3;
    transition: 0.5s ease;
}

div#trust.true {
    background-color: chartreuse;
}

div#trust.false {
    background-color: red;
}

#correct {
    height: max-content;
    /* font-family: Consolas; */
}

.char.incor {
    color: rgb(226, 128, 128);
    animation-name: incor;
    animation-duration: 0.5s;
}

@keyframes incor {
    10% {
        color: rgb(255, 0, 0);
    }
}

.char.incor.space {
    background-color: rgb(226, 128, 128);
    animation-name: incorSpace;
    animation-duration: 0.5s;
}

@keyframes incorSpace {
    10% {
        background-color: rgb(255, 0, 0);
    }
}

.char.non-cor {
    color: #7e8b7e;
}

.char.cor {
    color: #b4c0af;
    animation-name: cor;
    animation-duration: 0.5s;
}

@keyframes cor {
    10% {
        color: #a7e28f;
    }
}

#caretka {
    position: relative;
    color: rgb(172, 170, 140);
}

#caretka.flashing {
    animation-name: flashing;
    animation-duration: 1s;
    letter-spacing: 0;
    word-spacing: 0;
    animation-iteration-count: infinite;
}

@keyframes flashing {
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div#test_end {
    position: relative;
    font-size: 24px;
    aspect-ratio: calc(16/9);
    /* min-height: 300px; */
    /* height: 370px; */
    /* height: 300px;
    width: 400px; */
    max-height: fit-content;
    min-width: 300px;
    /* width: 500px; */
    width: 35%;
    /* width: 500px; */
    margin: auto;
    border-radius: 30px;
    padding: 1px 40px;
    font-family: Bahnschrift;
}

.anim {
    animation-name: anim;
    animation-duration: 3s;
}

@keyframes anim {
    0% {
        left: 0px;
    }
    20% {
        left: 120px;
    }
    45% {
        left: -1200px;
        opacity: 1;
    }
    45.1% {
        left: -1000px;
        opacity: 0;
    }
    45.2% {
        left: 1000px;
        opacity: 0;
    }
    45.3% {
        left: 1000px;
        opacity: 1;
    }
    70% {
        left: -100px;
    }
    84% {
        left: 70px
    }
    93% {
        left: -20px
    }
    99% {
        left: 8px;
    }
    100% {
        left: 0px
    }
}

#back_vid {
    /* max-width: inherit; */
    /* display: block; */
    border-radius: inherit;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}